@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --brancoGelo: #F6F8FA;
    --branco: white;
    --textoAzul: #4B61A1;
    --azulClaro: #1F3B8F;
    --azulEscuro: #06133C;
    --azulSelecionado: #263C81;
    --bckgTotalAlunos: #1E3B93;
    --bckgTurmas: #EF7A0C;
    --bckgPendentes: #DC2626;
    --bckgLucro: #18AA4E;
}

body{
    background-color: var(--brancoGelo);
}

/*Inicio area menu*/
#menuLateral{
    display: none;

    height: 100rvh;
}

#bannerMenu{
    background-color: var(--azulClaro);

    color: white;

    height: 10vh;

    border-bottom: 2px solid red;
}

#opcoesMenu{
    background-color: var(--azulEscuro);

    height: 100%;
}

.linkOpcoes{
    display: flex;
    align-items: center;

    background-color: var(--azulEscuro);

    color: white;

    text-decoration: none;

    height: 10vh;

    border-bottom: 1px solid white;

    transition: .5s;

    padding: 20px;
}

.linkOpcoes:hover{
    background-color: var(--azulSelecionado);
}

.linkOpcoes img{
    margin-right: 20px;
}

.linkSelecionado{
    background-color: var(--azulSelecionado);
}

/*Fim area menu*/

/*Inicio area header*/
header{
    background-color: var(--branco);

    height: 20vh;
    width: 100%;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.325);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoGKT{
    border-radius: 50%;

    width: 80px;
    height: 80px;
}

.textoAzul{
    color: var(--textoAzul);
}

/*Fim area header*/

/*conteudo do dashboard*/

/*inicio area de infos cards*/
.textoEscuro{
    color: black !important;
}

#infosAcademia p, #opcoesGerenciamento p{
    color: rgb(109, 109, 109);

    font-weight: bolder;

    font-size: 1.3em;
}

.containerInfos{
    background-color: white;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.381);

    padding: 10px;

    width: 333px;

    border-radius: 10px;

    margin: 10px 5px 10px 5px;
}

.containerInfos:hover{
    position: relative;

    top: -5px;
}

.containerIconeInfos{
    background-color: var(--bckgTotalAlunos);

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.648);
}

#iconeQtdTurmas{
    background-color: var(--bckgTurmas);
}

#iconeQtdPendentes{
    background-color: var(--bckgPendentes);
}

#iconeLucroBruto{
    background-color: var(--bckgLucro);
}

.containerIconeInfos img, .iconeOpcoes img{
    width: 40px;
    box-sizing: border-box;
}

#quantidadeAlunos{
    border-left: 5px solid var(--bckgTotalAlunos);
}

#quantidadeTurmas{
    border-left: 5px solid var(--bckgTurmas);
}

#quantidadeAlunosPendentes{
    border-left: 5px solid var(--bckgPendentes);
}

#quantidadeLucroBruto{
    border-left: 5px solid var(--bckgLucro);
}

/*fim area de infos cards*/

#divisor{
    background-color: var(--azulClaro);

    width: 100%;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.648);
}

/*fim divisor*/

/*inicio opcoes de gerenciamento*/

.containerOpcoesGerenciamento{
    background-color: white;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.381);

    padding: 10px;

    width: 300px;

    border-radius: 10px;

    margin: 10px 5px 10px 5px;

    cursor: pointer;
}

.containerOpcoesGerenciamento:hover{
    position: relative;

    top: -5px;
}

.iconeOpcoes{
    background-color: var(--bckgTotalAlunos);

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.648);
}

.iconeOpcoes{
    border-radius: 50%;
}

#cadastrarAlunosOp{
    background-color: var(--bckgLucro);
}

#verTurmasOp{
    background-color: var(--bckgTurmas);
}

#btSair{
    width: 50%;
    height: 50px;

    border-radius: 10px;

    border: none;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.648);

    color: var(--bckgPendentes);

    font-weight: bolder;

    font-size: 1.4em;

    background-color: white;
}

#btSair:hover{
    position: relative;

    top: -5px;
}


/*fim opcoes de gerenciamento*/