@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --brancoGelo: #F6F8FA;
    --branco: white;
    --textoAzul: #4B61A1;
    --azulClaro: #1F3B8F;
    --azulEscuro: #06133C;
    --azulSelecionado: #263C81;
    --bckgTotalAlunos: #1E3B93;
}

body{
    background-color: var(--brancoGelo);
}

/*Inicio area menu*/
#menuLateral{
    display: none;
}

#bannerMenu{
    background-color: var(--azulClaro);

    color: white;

    height: 10vh;

    border-bottom: 2px solid red;
}

#opcoesMenu{
    background-color: var(--azulEscuro);

    height: 80vh;
}

.linkOpcoes{
    display: flex;
    align-items: center;

    background-color: var(--azulEscuro);

    color: white;

    text-decoration: none;

    height: 10vh;

    border-bottom: 1px solid white;

    transition: .5s;

    padding: 20px;
}

.linkOpcoes:hover{
    background-color: var(--azulSelecionado);
}

.linkOpcoes img{
    margin-right: 20px;
}

.linkSelecionado{
    background-color: var(--azulSelecionado);
}

/*Fim area menu*/

/*Inicio area header*/
header{
    background-color: var(--branco);

    height: 20vh;

    width: 100vw;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.325);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoGKT{
    border-radius: 50%;

    width: 80px;
    height: 80px;
}

.textoAzul{
    color: var(--textoAzul);
}

/*Fim area header*/

/*conteudo do dashboard*/
.containerInfos{
    background-color: white;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.381);

    padding: 10px;

    width: 333px;

    border-radius: 10px;
}

.containerIconeInfos{
    background-color: var(--bckgTotalAlunos);

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.648);
}

.containerIconeInfos img{
    width: 40px;
}

#quantidadeAlunos{
    border-left: 5px solid var(--bckgTotalAlunos);
    box-sizing: border-box;
}