@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --brancoGelo: #F6F8FA;
    --branco: white;
    --textoAzul: #4B61A1;
    --azulClaro: #1F3B8F;
    --azulEscuro: #06133C;
    --azulSelecionado: #263C81;
}

body{
    background-color: var(--brancoGelo);
}

/*Inicio area menu*/
#menuLateral{
    display: none;
}

#bannerMenu{
    background-color: var(--azulClaro);

    color: white;

    height: 10vh;
}

#opcoesMenu{
    background-color: var(--azulEscuro);

    height: 100vh;
}

.linkOpcoes{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--azulEscuro);

    color: white;

    text-decoration: none;

    height: 10vh;

    border-bottom: 1px solid white;

    transition: .5s;
}

.linkOpcoes:hover{
    background-color: var(--azulSelecionado);
}

.linkSelecionado{
    background-color: var(--azulSelecionado);
}

/*Fim area menu*/

/*Inicio area header*/
header{
    background-color: var(--branco);

    height: 10vh;

    width: 100vw;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.325);
}

.logoGKT{
    border-radius: 50%;

    width: 80px;
    height: 80px;
}

.textoAzul{
    color: var(--textoAzul);
}

/*Fim area header*/