@charset "UTF-8";

@media screen and (min-width:900px) and (max-width: 1200px) {

    #menuHeader{
        display: flex;
    }

    #bannerMenu{
        height: 20vh;
    }

    #menuLateral{
        display: flex;
        flex-direction: column;

        width: 30vw;
    }

    header{
        height: 20vh;
        width: 70vw;
    }

}

@media screen and (min-width:1201px){
    #menuLateral{
        display: flex;
        flex-direction: column;

        width: 20vw;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 20vh;
        width: 80vw;
    }

    #menuHeader{
        display: flex;
    }

    #bannerMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 20vh;
    }
}