@charset "UTF-8";

/*responsividade para telas médias*/
@media screen and (min-width:910px) and (max-width: 1200px) {

    body{
        height: 100dvh;
    }

    #menuHeader{
        display: flex;

        height: 100%;
    }

    #menuLateral{
        display: flex;
        flex-direction: column;

        width: 30vw;

        height: auto;
    }

    header{
        height: 17.5vh;

        width: 100%;
    }

}

/*responsividade para telas grandes +*/
@media screen and (min-width:1201px){
    #menuLateral{
        display: flex;
        flex-direction: column;

        width: 20vw;

        min-height: 100vh;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 16.7vh;
        width: 100%;
    }

    #menuHeader{
        display: flex;
    }
}