USE [gktgym]
GO
/****** Object:  Table [dbo].[ALUNOS]    Script Date: 03/05/2026 20:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUNOS](
	[ALUCOD] [int] IDENTITY(1,1) NOT NULL,
	[ALUMATRICULA] [varchar](20) NOT NULL,
	[ALUNOME] [varchar](100) NOT NULL,
	[ALUTELEFONE] [varchar](20) NOT NULL,
	[ALUEMAIL] [varchar](100) NOT NULL,
	[ALUCPF] [char](11) NOT NULL,
	[ALUSEX] [char](1) NULL,
	[ALUDATANASC] [date] NOT NULL,
	[ALUCEP] [char](8) NULL,
	[ALUENDERECO] [varchar](150) NULL,
	[DATACADASTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ALUMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALUNOS_INSCRICAO]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUNOS_INSCRICAO](
	[INSCRICAOCOD] [int] IDENTITY(1,1) NOT NULL,
	[ALUNOMAT] [varchar](20) NULL,
	[ALUNOMOD] [int] NULL,
	[ALUNOPLANO] [int] NULL,
	[ALUNOOPCAO] [int] NULL,
	[DATACADASTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[INSCRICAOCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODALIDADES]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODALIDADES](
	[MODALIDADECOD] [int] IDENTITY(1,1) NOT NULL,
	[NOMEMOD] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[MODALIDADECOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANOS]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANOS](
	[PLANOCOD] [int] IDENTITY(1,1) NOT NULL,
	[PLANO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLANOCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPCAOSEMANA]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPCAOSEMANA](
	[OPCAOCOD] [int] IDENTITY(1,1) NOT NULL,
	[OPCAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OPCAOCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DADOSINSCRICAO]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DADOSINSCRICAO] 
AS 
SELECT A.ALUMATRICULA,A.ALUNOME,M.MODALIDADECOD,P.PLANO,O.OPCAO FROM ALUNOS_INSCRICAO AI
INNER JOIN ALUNOS A ON A.ALUMATRICULA = AI.ALUNOMAT
INNER JOIN MODALIDADES M ON M.MODALIDADECOD = AI.ALUNOMOD
INNER JOIN PLANOS P ON  P.PLANOCOD = AI.ALUNOPLANO
INNER JOIN OPCAOSEMANA O ON O.OPCAOCOD = AI.ALUNOOPCAO
GO
/****** Object:  Table [dbo].[ADMINISTRACAO]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRACAO](
	[ADMCODE] [int] IDENTITY(1,1) NOT NULL,
	[ADMMATRICULA] [varchar](20) NOT NULL,
	[ADMNOME] [varchar](20) NOT NULL,
	[ADMTELEFONE] [varchar](10) NOT NULL,
	[ADMEMAIL] [varchar](40) NOT NULL,
	[ADMCPF] [char](11) NOT NULL,
	[ADMDATANASC] [date] NOT NULL,
	[ADMSEX] [char](1) NOT NULL,
	[ADMCEP] [char](8) NOT NULL,
	[ADMENDERECO] [varchar](150) NOT NULL,
	[ADMLOGIN] [varchar](30) NOT NULL,
	[ADMSENHA] [varchar](10) NOT NULL,
	[DATACADASTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGOS]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGOS](
	[CARGOCOD] [int] IDENTITY(1,1) NOT NULL,
	[CARGO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CARGOCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSORES]    Script Date: 03/05/2026 20:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORES](
	[PROFCOD] [int] IDENTITY(1,1) NOT NULL,
	[PROFMATRICULA] [varchar](20) NOT NULL,
	[PROFNOME] [varchar](100) NOT NULL,
	[PROFTELEFONE] [varchar](20) NOT NULL,
	[PROFEMAIL] [varchar](100) NOT NULL,
	[PROFCPF] [char](11) NOT NULL,
	[PROFSEX] [char](1) NULL,
	[PROFDATANASC] [date] NOT NULL,
	[PROFCEP] [char](8) NULL,
	[PROFENDERECO] [varchar](150) NULL,
	[DATACADASTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUNOS] ON 

INSERT [dbo].[ALUNOS] ([ALUCOD], [ALUMATRICULA], [ALUNOME], [ALUTELEFONE], [ALUEMAIL], [ALUCPF], [ALUSEX], [ALUDATANASC], [ALUCEP], [ALUENDERECO], [DATACADASTRO]) VALUES (1, N'26141312', N'PEDRO', N'61998423562', N'pedrinmatadordeonca@gmail.com', N'08925432192', N'M', CAST(N'2003-02-14' AS Date), N'73401293', N'qualquercoisa', CAST(N'2026-04-12T21:46:59.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[ALUNOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ALUNOS_INSCRICAO] ON 

INSERT [dbo].[ALUNOS_INSCRICAO] ([INSCRICAOCOD], [ALUNOMAT], [ALUNOMOD], [ALUNOPLANO], [ALUNOOPCAO], [DATACADASTRO]) VALUES (1, N'26141312', 1, 1, 1, CAST(N'2026-04-12T21:52:32.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[ALUNOS_INSCRICAO] OFF
GO
SET IDENTITY_INSERT [dbo].[MODALIDADES] ON 

INSERT [dbo].[MODALIDADES] ([MODALIDADECOD], [NOMEMOD]) VALUES (1, N'KICKBOXING')
SET IDENTITY_INSERT [dbo].[MODALIDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[OPCAOSEMANA] ON 

INSERT [dbo].[OPCAOSEMANA] ([OPCAOCOD], [OPCAO]) VALUES (1, N'Segunda')
SET IDENTITY_INSERT [dbo].[OPCAOSEMANA] OFF
GO
SET IDENTITY_INSERT [dbo].[PLANOS] ON 

INSERT [dbo].[PLANOS] ([PLANOCOD], [PLANO]) VALUES (1, N'Trimestral')
SET IDENTITY_INSERT [dbo].[PLANOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINIST__1F6C05C18E5E5DC1]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ADMINISTRACAO] ADD UNIQUE NONCLUSTERED 
(
	[ADMLOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINIST__6AEB994D18DEFAC8]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ADMINISTRACAO] ADD UNIQUE NONCLUSTERED 
(
	[ADMSENHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINIST__7C21121BBFA78C50]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ADMINISTRACAO] ADD UNIQUE NONCLUSTERED 
(
	[ADMEMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINIST__DD8AD891710F1A3A]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ADMINISTRACAO] ADD UNIQUE NONCLUSTERED 
(
	[ADMCPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ALUNOS__3ECCA3616809879E]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ALUNOS] ADD UNIQUE NONCLUSTERED 
(
	[ALUCPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ALUNOS__3ECD4BC510749191]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ALUNOS] ADD UNIQUE NONCLUSTERED 
(
	[ALUCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ALUNOS__6F447E943A40AE3B]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[ALUNOS] ADD UNIQUE NONCLUSTERED 
(
	[ALUEMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__modalida__1E29BF7CD9E26258]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[MODALIDADES] ADD UNIQUE NONCLUSTERED 
(
	[NOMEMOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROFESSO__C5E09025737F40E7]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[PROFESSORES] ADD UNIQUE NONCLUSTERED 
(
	[PROFEMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PROFESSO__D17691F7CB251AF7]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[PROFESSORES] ADD UNIQUE NONCLUSTERED 
(
	[PROFCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROFESSO__D17699AA633CEF38]    Script Date: 03/05/2026 20:53:32 ******/
ALTER TABLE [dbo].[PROFESSORES] ADD UNIQUE NONCLUSTERED 
(
	[PROFCPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMINISTRACAO] ADD  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[ALUNOS] ADD  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[ALUNOS_INSCRICAO] ADD  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[PROFESSORES] ADD  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[ALUNOS_INSCRICAO]  WITH CHECK ADD FOREIGN KEY([ALUNOMAT])
REFERENCES [dbo].[ALUNOS] ([ALUMATRICULA])
GO
ALTER TABLE [dbo].[ALUNOS_INSCRICAO]  WITH CHECK ADD FOREIGN KEY([ALUNOMOD])
REFERENCES [dbo].[MODALIDADES] ([MODALIDADECOD])
GO
ALTER TABLE [dbo].[ALUNOS_INSCRICAO]  WITH CHECK ADD FOREIGN KEY([ALUNOPLANO])
REFERENCES [dbo].[PLANOS] ([PLANOCOD])
GO
ALTER TABLE [dbo].[ALUNOS_INSCRICAO]  WITH CHECK ADD FOREIGN KEY([ALUNOOPCAO])
REFERENCES [dbo].[OPCAOSEMANA] ([OPCAOCOD])
GO
